@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: 18px;
    /* background: #f5f6f7; */
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section {
    margin-top: 70px;
    margin-bottom: 70px;
}

/* Hero  */

.img-contenedor {
    background: rgb(246, 237, 229);
}

h1 {
    font-family: 'Arsenal', sans-serif;
    font-size: 3rem;
    /* font-weight: bold; */
}

.hero p {
    font-size: 1rem;
    font-family: 'Arsenal', sans-serif;
}

/* Navegacion */
.navegacion {
    margin-top: 50px;
    margin-bottom: 50px;
}

.navegacion p {
    font-family: 'Arsenal', sans-serif;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 50px;
}

.cir i {
    color: black;
    font-size: 2rem;
    transition: all 0.2s ease-in;
}

.cir a {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.cir a:hover {
    background-color: black;
    border: 2px solid #FAF3ED;
}

.cir i:hover {
    color: #FAF3ED;
}

/* Galeria */
.galeria-contenedor {
    min-height: 400px;
}

.galeria-contenedor i {
    font-size: 3rem;
}

.galeria-contenedor h2 {
    /* font-family: 'Arsenal', sans-serif; */
    font-size: 3rem;
}

.galeria-contenedor p {
    font-size: 1rem;
}


/* Manual de usuaiorio */


.manual-contenedor {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.manual-contenedor button {
    background-color: rgb(246, 237, 229);
    color: black;
    font-size: 30px;
    border-color: #FAF3ED;
}

.manual-contenedor button i {
    font-size: 30px;
}

/* Creditos */
footer {
    margin-top: 70px;
    min-height: 400px;
    background-color: #FAF3ED;
    font-family: 'Arsenal', sans-serif;
}

.footer-contenedor {
    font-family: 'Arsenal', sans-serif;
}

.footer-icono {
    height: 80px;
    width: 80px;
    margin: 10px;
}


.derechos-autor {
    font-size: 15px;
    padding: 20px;
    color: #aeaeae;
}

h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.icono-footer i {
    font-size: 7rem;
}

.equipo {
    min-width: 280px;
    min-height: 300px;
    background-color: white;
    margin: 10px;
}

/* Mi perfil */
.perfil-contenedor {
    background-color: transparent;
    border: none;
}

#btn-subirImg {
    position: absolute;
    right: 0;
    bottom: 0;
}

#btn-subirImg:hover {
    background-color: transparent;
}

.card {
    --main-color: #000;
    --submain-color: #78858F;
    --bg-color: #fff;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    position: relative;
    /* width: 300px;
    height: 384px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: var(--bg-color);
}

.card__img {
    height: 192px;
    width: 100%;
}

.card__img svg {
    height: 100%;
    border-radius: 20px 20px 0 0;
}

.card__avatar {
    position: absolute;
    width: 114px;
    height: 114px;
    background: var(--bg-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 130px;
}

.card__title {
    margin-top: 60px;
    font-weight: 500;
    font-size: 18px;
    color: var(--main-color);
}

.card__subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    color: var(--submain-color);
}

.card__subtitle a {
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 18px;
    border: none;
    background: none;
    /* font-weight: 600; */
    /* font-family: 'Poppins', sans-serif; */
}

.card__subtitle a::before {
    margin-left: auto;
}

.card__subtitle a::after,
.card__subtitle a::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
}

.card__subtitle a:hover::after,
.card__subtitle a:hover::before {
    width: 100%;
}

.card .btn-close {
    background: none;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: 3s;
}

.card .btn-close i {
    font-size: 25px;
}

.card .btn-close:hover {
    background: none;
    transform: scale(1.05);
}

.cta {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #b1dae7;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}