@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: 18px;
    /* background: #f5f6f7; */
}

h3 {
    text-align: center;
    margin-top: 20px;
    margin: 10px;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Lancelot', sans-serif;
    /* color: #615151; */
}

.formulario-contenedor {
    margin-top: 70px;
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:  #FAF3ED;
    border-radius: 5%;
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

label {
    font-weight: bold;
}

.btn {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    /* background: rgb(240, 240, 255); */
}

.nueva-cuenta a {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}