@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: 18px;
    /* background: #f5f6f7; */
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(246, 237, 229);
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.miPerfil {
    margin: 50px;
    text-align: center;
}

@media screen and (max-width: 418px) {
    .miPerfil h4 {
        font-size: 20px;
    }
}

.card {
    max-width: 100%;
    border: none;
}
.card-body {
    text-align: left;
}
.card img {
    max-width: 200px;
    border-radius: 50%;
}
.card button {
    border: none;
    display: block;
}
.card button:hover {
    background-color: rgb(246, 237, 229);
    color: black;
}
