@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');

/* .miPerfil {
    margin: 50px;
    text-align: center;
} */


.card {
    border: none;
    font-family: 'Arsenal', sans-serif;
}
.mi-perfil-datos {
    /* text-align: center; */
    font-family: 'Arsenal', sans-serif;
}
.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container img {
    max-width: 200px;
    border-radius: 50%;
}
.card button {
    border: none;
    display: block;
}
.card button:hover {
    background-color: rgb(246, 237, 229);
    color: black;
}

@media screen and (max-width:991px) {
    .mi-perfil-datos{
        text-align: center;
    }
}
