@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Arsenal', sans-serif;
    /* background: #f5f6f7; */
}

body {
    background: rgb(240, 240, 255);
}

.progress {
    margin: 20px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 20px;
    
}
.card p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Arsenal', sans-serif;
}

.row {
    margin-top: 50px;
   text-align: center;
}

.row img {
    max-width: 300px;
}


@media screen and (max-width: 767px) {
    .btn {
        margin: 20px;
    }
}