@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');


* {
    padding: 0;
    margin: 0;
    font-size: 18px;
    /* background: #f5f6f7; */
    font-family: 'Arsenal', sans-serif;
}


body {
    overflow: hidden;
}

.modal {
    background-color: #FAF3ED;
    font-family: 'Arsenal', sans-serif;
}


.modo-contenedor {
    margin-top: 150px;
    max-width: 500px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FAF3ED;
    border-radius: 5%;
}

p {
    font-family: 'Arsenal', sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;
}

.cir i {
    color: black;
    font-size: 3rem;
    transition: all 0.2s ease-in;
}

.cir a {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 4px solid black;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.cir a:hover {
    background-color: black;
    border: 2px solid #FAF3ED;
}

.cir i:hover {
    color: #FAF3ED;
}

@media screen and (max-width: 768px) {
    body {
        background-color: #FAF3ED;
    }

    /* .cir a {
        width: 50px;
        height: 50px;
        margin: 5px;
    }

    .cir i {
        font-size: 20px;
    } */

    p {
        margin: 0px;
    }
}